body::-webkit-scrollbar {
    display: none;
  }
body{

    background-color: #EEE9E7;
    margin: 0px;
    width: 100%;
    align-items: center;
}
.subscription{
    position: fixed;
    align-items: center;
    margin-top: 5vh;
    height: 3.6vh;
    width: 47.5vw;
    margin-left: 47.5vw;
    background-color: #7B8F74;
    border-radius: 50vh;
    z-index: 999;
}
.subscription1{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #EEE9E7;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 2.1vh;

}
.subscription0{
    display: block;
    position: absolute;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-47%, -50%);
    color: #EEE9E7;
    font-family: 'Montserrat';
    font-size: 1.8vh;
    font-weight: 500;
    width: 44vw;
    padding: 0%;
    margin: 0%;
}
.filters_card{
    position: fixed;
    
    height: 21.5vh;
    width: 100vw;
    background-color: #EEE9E7;
    margin-top: -2.7vh;
    z-index: 998;
}
.filterblock{
    position: absolute;
    margin-top: 17.5vh;
    margin-left: 3.1vw;
    background-color: #EEE9E7;

}
.filters{
    background-color: #EEE9E7;
    display: inline-flex;
    flex-direction: column;
    margin-left: 2vw;
    border: #67645E solid 0.2vh;
    padding: 0.2vh 4vw;
    color: #67645E;
    border-radius: 50vh;
    font-family: 'Montserrat';
    font-size: 1.8vh;
}

.search_block{
    position: fixed;
    z-index: 999;
    margin-top: 9.7vh;
    color: #67645E;
    padding: 0.4vh 5vw;
    border-radius: 2vh;
    font-family: 'Montserrat';
    font-size: 2.5vh;
    border: #67645E solid 0.2vh;
    width: 79.7vw;
    left: 50%;
    transform: translate(-50%);
}
input{
    background-color: #ffffff00;
    border: none;
    border-radius: 4.5vh;
    font-size: 2.5vh;
    font-family: "Montserrat";
    font-weight: 400;
    color: #67645E;
    width: 79vw;
    
}
.content{
    z-index: 950 ;
    position: absolute;
    margin-top: 18vh;
    justify-content: center;
    align-items: center;
    width: 89.7vw;
    left: 50%;
    transform: translate(-50%);
}



.lessoncard{
    z-index: 3;
    margin-top: 2vh;
    border: #67645E solid 0.2vw;
    border-radius: 2.5vh;
    font-size: 2.5vh;
    font-family: "Montserrat";
    font-weight: 300;
    color: #67645E;
    padding: 1vh 3vw 0vh 3vw;
}  
.namelesson{
    position: absolute;
    margin-top: 0;
    font-weight: 500;
    color: #D9674F;
} 
.timelesson{
    position: absolute;
    margin-top: 0;
    right: 3vw;
}
.studiolesson{
    position: absolute;
    margin-top: 3.5vh;
    font-size: 1.8vh;
}
.cardbtm{
    position: relative;
    margin-bottom: -0.5vh;
    display: flex;
    align-items: center;
}
.costlesson{
    position: absolute;
    right: -1vw;
    border-radius: 5vh;
    border: #67645E solid 0.2vw;
    padding: 0.1vh 3vw;
    font-size: 5vw;
    margin-top: 8vh;
}
.pointlesson{
    color: #7B8F74;
    font-size: 2vh;
    font-weight: 400;
    margin-top: 8vh;

}



.footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 9.8vh;

    background-color: rgba(255, 255, 255, 0.85);
    z-index: 999;
    font-size: 3vw;
    font-family: 'Montserrat';
    font-weight: 600;
    backdrop-filter: blur(4px); 
}
a {
    text-decoration: none;
}
.et-hero-tab {

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #67645E;
    margin-top: 4vh;
    
}
.mainimg{

    position: absolute;
    height: 4vh;
    margin-top: -7vh;
    
}